#Prepaire VnEmolex

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_excel('/content/drive/MyDrive/DoAnTotNghiep/Lexicon/VnEmoLex.xlsx')

In [3]:
df

,Unnamed: 0,Vietnamese,Positive,Negative,Anger\n/ tức giận,Anticipation\n/ Hi vọng,Disgust\n/ chán ghét,Fear\n/ sợ hãi,Joy\n/ thích thú,Sadness\n/ buồn bã,Surprise\n/ ngạc nhiên,Trust\n/ tin tưởng,Unnamed: 12
0,celebrity,Danh nhân,1,0,0,0,0.0,0,1,0.0,1,1.0,4
1,celebrity,danh tiếng,1,0,0,1,0.0,0,1,0.0,1,1.0,5
2,opera,nghệ thuật nhạc kịch,0,0,0,0,0.0,0,1,0.0,1,0.0,2
3,celebrity,sự nổi tiếng,1,1,0,1,0.0,0,1,0.0,1,1.0,6
4,endless,bất tận,0,0,0,0,0.0,1,0,1.0,0,1.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10622,NaN,ướt rượt,0,0,0,0,0.0,0,0,0.0,0,0.0,0
10623,NaN,ướt sũng,0,0,0,0,0.0,0,0,0.0,0,0.0,0
10624,NaN,ưu trương,0,0,0,0,0.0,0,0,0.0,0,0.0,0
10625,NaN,uy lực,0,0,0,0,0.0,0,0,0.0,0,0.0,0
10626,NaN,uyển chuyển,0,0,0,0,0.0,0,0,0.0,0,0.0,0

In [4]:
df.dtypes
#df['Trust\n/ tin tưởng'].astype(int)

Unnamed: 0                  object
Vietnamese                  object
Positive                     int64
Negative                     int64
Anger\n/ tức giận          int64
Anticipation\n/ Hi vọng      int64
Disgust\n/ chán ghét       float64
Fear\n/ sợ hãi             int64
Joy\n/ thích thú           int64
Sadness\n/ buồn bã       float64
Surprise\n/ ngạc nhiên      int64
Trust\n/ tin tưởng        float64
Unnamed: 12                  int64
dtype: object

In [5]:
data= pd.DataFrame()
data['vietnamese']= df['Vietnamese']
data['Disgust']= df['Disgust\n/ chán ghét']
data['Anger']= df['Anger\n/ tức giận']
data['Fear']= df['Fear\n/ sợ hãi']
data['Enjoyment']= df['Joy\n/ thích thú']
data['Sadness']= df['Sadness\n/ buồn bã']
data['Suprise']= df['Surprise\n/ ngạc nhiên']
data['Other']= df['Anticipation\n/ Hi vọng']

In [6]:
for i in range(0,len(df)):
  if df['Anticipation\n/ Hi vọng'][i]==1 or df['Trust\n/ tin tưởng'][i]==1:
    data['Other'][i]=1
  else: 
    data['Other'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [7]:
data

,vietnamese,Disgust,Anger,Fear,Enjoyment,Sadness,Suprise,Other
0,Danh nhân,0.0,0,0,1,0.0,1,1
1,danh tiếng,0.0,0,0,1,0.0,1,1
2,nghệ thuật nhạc kịch,0.0,0,0,1,0.0,1,0
3,sự nổi tiếng,0.0,0,0,1,0.0,1,1
4,bất tận,0.0,0,1,0,1.0,0,1
...,...,...,...,...,...,...,...,...
10622,ướt rượt,0.0,0,0,0,0.0,0,0
10623,ướt sũng,0.0,0,0,0,0.0,0,0
10624,ưu trương,0.0,0,0,0,0.0,0,0
10625,uy lực,0.0,0,0,0,0.0,0,0
10626,uyển chuyển,0.0,0,0,0,0.0,0,0

#Mapping with Dataset (UIT-VSMEC)

In [8]:
df1= pd.read_excel('/content/drive/MyDrive/DoAnTotNghiep/Data/train_nor_811.xlsx')
df1

      Unnamed: 0    Emotion                                           Sentence
0            188      Other              cho mình xin bài nhạc tên là gì với ạ
1            166    Disgust  cho đáng đời con quỷ . về nhà lôi con nhà mày ...
2           1345    Disgust  lo học đi . yêu đương lol gì hay lại thích học...
3            316  Enjoyment    uớc gì sau này về già vẫn có thể như cụ này :))
4           1225  Enjoyment  mỗi lần có video của con là cứ coi đi coi lại ...
...          ...        ...                                                ...
5543        1332    Disgust  đường của nhà cụ hay sao mà cụ cấm người ta đỗ...
5544         825      Other                             nhìn mặt héo queo luôn
5545         165      Other  tao đi xe máy mỗi lần muốn để xe đi đâu là phi...
5546         363  Enjoyment                    thích thân hình boss rồi nhan 😌
5547        1242    Sadness  ước mơ nhỏ nhoi của tao là được làm chị mà khô...

[5548 rows x 3 columns]

In [9]:
train=pd.DataFrame()
train['Emotion']=df1['Emotion']
train['Sentence']=df1['Sentence']

In [10]:
import re
import json 

pattern = '\s'

In [11]:
re.split(pattern, str(train['Sentence'][1]))

['cho',
 'đáng',
 'đời',
 'con',
 'quỷ',
 '.',
 'về',
 'nhà',
 'lôi',
 'con',
 'nhà',
 'mày',
 'ra',
 'mà',
 'đánh',
 '😡']

In [12]:
data_count=pd.DataFrame()
data_count['ID']= np.arange(len(train))
data_count['Disgust']= np.nan
data_count['Fear']= np.nan
data_count['Enjoyment']= np.nan
data_count['Sadness']= np.nan
data_count['Suprise']= np.nan
data_count['Anger']= np.nan
data_count['Other']= np.nan

In [13]:
data_count

        ID  Disgust  Fear  Enjoyment  Sadness  Suprise  Anger  Other
0        0      NaN   NaN        NaN      NaN      NaN    NaN    NaN
1        1      NaN   NaN        NaN      NaN      NaN    NaN    NaN
2        2      NaN   NaN        NaN      NaN      NaN    NaN    NaN
3        3      NaN   NaN        NaN      NaN      NaN    NaN    NaN
4        4      NaN   NaN        NaN      NaN      NaN    NaN    NaN
...    ...      ...   ...        ...      ...      ...    ...    ...
5543  5543      NaN   NaN        NaN      NaN      NaN    NaN    NaN
5544  5544      NaN   NaN        NaN      NaN      NaN    NaN    NaN
5545  5545      NaN   NaN        NaN      NaN      NaN    NaN    NaN
5546  5546      NaN   NaN        NaN      NaN      NaN    NaN    NaN
5547  5547      NaN   NaN        NaN      NaN      NaN    NaN    NaN

[5548 rows x 8 columns]

In [14]:
for i in range(0,len(train)):
  count_disgust=0
  count_fear=0
  count_enjoyment=0
  count_sadness=0
  count_suprise=0
  count_other=0
  count_anger=0
  for j in range(0,len(data)):
    if (re.split(pattern, str(train['Sentence'][i]))).count(str(data['vietnamese'][j]))!=0:
      if data['Anger'][j]==1:
        count_disgust+=1
      if data['Fear'][j]==1:
        count_fear+=1
      if data['Enjoyment'][j]==1:
        count_enjoyment+=1
      if data['Sadness'][j]==1:
        count_sadness+=1
      if data['Suprise'][j]==1:
        count_suprise+=1
      if data['Other'][j]==1:
        count_other+=1
      if data['Disgust'][j]==1:
        count_disgust+=1
    
  data_count['Disgust'][i]= count_disgust
  data_count['Fear'][i]= count_fear
  data_count['Enjoyment'][i]= count_enjoyment
  data_count['Sadness'][i]= count_sadness
  data_count['Suprise'][i]= count_suprise
  data_count['Anger'][i]= count_anger
  data_count['Other'][i]= count_other

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyboardInterrupt: ignored

In [ ]:
data_count

      ID  Disgust  Fear  Enjoyment  Sadness  Suprise  Anger  Other
0      0      0.0   0.0        0.0      0.0      0.0    0.0    0.0
1      1      0.0   0.0        0.0      0.0      0.0    0.0    0.0
2      2      0.0   0.0        0.0      0.0      0.0    0.0    0.0
3      3      0.0   0.0        1.0      0.0      0.0    0.0    0.0
4      4      0.0   0.0        0.0      0.0      0.0    0.0    1.0
..   ...      ...   ...        ...      ...      ...    ...    ...
681  681      0.0   0.0        0.0      0.0      0.0    0.0    1.0
682  682      0.0   0.0        2.0      0.0      1.0    0.0    2.0
683  683      0.0   0.0        0.0      0.0      0.0    0.0    0.0
684  684      0.0   0.0        0.0      0.0      0.0    0.0    1.0
685  685      2.0   2.0        0.0      1.0      1.0    0.0    3.0

[686 rows x 8 columns]

In [ ]:
data_count.to_excel('count_sentiment_train.xlsx')